<section class="@SectionClass" style="@Style">
    <MudText Typo="Typo.h5" GutterBottom="true">@Title</MudText>
    @if (!string.IsNullOrWhiteSpace(Description))
    {
        <MudText Typo="Typo.body2" Color="Color.Secondary" Class="mb-4">@Description</MudText>
    }
    <MudGrid Spacing="@SchaerbeekSpacing.GridSpacing">
        @ChildContent
    </MudGrid>
</section>

@code {
    [Parameter] [EditorRequired] public string Title { get; set; } = string.Empty;

    [Parameter] public string? Description { get; set; }

    [Parameter] public int Columns { get; set; } = 2;

    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public string? Class { get; set; }

    [Parameter] public string? Style { get; set; }

    private string SectionClass => new CssBuilder("mb-8")
        .AddClass(Class)
        .Build();

}